@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
}

/* common styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header section style  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a0b2e;
  border-bottom: 0.2px solid rgb(172, 121, 172);
}
.logo {
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-items {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.nav-items a {
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.9;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}
.nav-btn {
  margin-right: 200px;
}
.ham-b {
  display: none;
}

.btn-main {
  padding: 12.5px 20px 12.5px 16px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  border-radius: 10000px;
  background: linear-gradient(
    47deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

/* banner section style  */

#banner {
  background-image: url(./assets/hero-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
}
.banner-container {
  margin: 0 auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding-top: 101px;
}
.top {
  float: right;
  padding: 8px 16px;
  background-color: #00ff88;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  border-radius: 1000px;
  color: #1a0b2e;
  /* text-align: right; */
  margin-bottom: -80px;
  position: relative;
  margin-right: -240px;
  border: none;
}
.images {
  position: relative;
  width: 350px;
  height: 350px;
}
.img-1 {
  width: 100%;
  height: auto;
  display: block;
}
.img-2 {
  position: absolute;
  top: 60px;
  left: 74px;
  width: 200px;
  padding: 20px 40px;
}
.banner-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  line-height: 73px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 8px;
}
.banner-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.8;
  color: #ffffff;
  margin-bottom: 24px;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.btn-second {
  color: #00ff88;
  background: transparent;
  padding: 12.5px 20px 12.5px 16px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10000px;
  border: 1px solid #00ff88;
}

/* about section style  */

#about {
  background-color: #1a0b2e;
}
.about-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-info {
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.para-01 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.8;
  margin-bottom: 30px;
}
.para-02 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.8;
}
.divider-02 {
  height: 0;
  width: 1200px;
  border: 1px solid white;
  opacity: 0.1;
  margin-top: 80px;
  display: block;
  margin-bottom: 80px;
}
.ratings {
  width: 1200px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 80px;
  margin-left: 50px;
  margin-bottom: 120px;
}
.card-title {
  font-size: 3rem;
  color: #00ff88;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 16px;
}
/* footer section style  */

/* responsive design style for mobile device  */
@media screen and (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .logo {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-items,
  .btn-main {
    display: none;
  }
  .nav-btn {
    margin-right: 20px;
  }
  .ham-b {
    display: block;
    padding-right: 18px;
  }

  #banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120vh;
    padding: 20px;
  }

  .banner-container {
    margin: 0 auto;
    width: 100%;
    gap: 24px;
    /* padding: 20px; */
  }
  .images {
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }
  .img-1 {
    width: 90%;
    height: 90%;
    display: r;
    margin-bottom: -20px;
    margin-top: -20px;
  }
  .img-2 {
    position: absolute;
    top: -30px;
    left: 10px;
    margin-top: 20px;
    height: 150px;
    width: auto;
  }

  /* about section */

  .divider-02 {
    margin: 40px 0;
  }
  .ratings {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin: 40px 20px;
    text-align: center;
  }
}
